<style>
  .btn-search{
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
    transition: 1s;
  }
  .btn-search:hover{
    background-color:white;
    color: #fe424d;
    font-weight: bold;
    transform: scale(1.05);
    border: 2px solid #fe424d;
  }
  .btn-search i{
    display: inline;
  }
  .search-input{
    border-radius: 25px;
    padding: 0.5rem 1rem 0.5rem 2rem;
    font-size: 1rem;
    width: 320px;
    transition: 0.5s;
  }
  @media(max-width:600px){
    .d-flex{
      flex-wrap: wrap;
    }
  }
</style>
<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-regular fa-compass fa-spin"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <!-- <a class="nav-link " aria-current="page" href="/">Home</a> -->
          <a class="nav-link" href="/listings">Explore</a>
          <!-- <a class="nav-link disabled" aria-disabled="true">Disabled</a> -->
        </div>
        <div class="navbar-nav ms-auto">
          <form class="d-flex" role="search" method="get" action="/search">
            <input class="form-control me-2 search-input" id="searchbar" type="search" placeholder="Search by destination or country" name="search">
            <div class="invalid-feedback">Please enter something to search!</div>
            <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>&nbsp&nbspSearch</button>
          </form>
        </div>
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/listings/new">Add Tourist Spot</a>
          <% if(!currUser) { %>
            <a class="nav-link " aria-current="page" href="/signup"><b>Sign Up</b></a>
            <a class="nav-link" href="/login"><b>Log in</b></a>
          <%}%>
          
          <% if(currUser) { %>
              <a class="nav-link" href="/logout"><b>Log out</b></a>
          <%}%> 
        </div>
      </div>
    </div>
  </nav>
  